:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  background: #adaca6;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin-top: 7% !important;
  margin-bottom: 7% !important;
}

.card-signin .card-title {
  font-weight: bold;
  font-size: 2rem;
  color: #e3443d;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 12px;
  border-radius: 5rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
.form-signin .button-header .btn-connect {
  background-color: aqua;
}
.form-signin .button-header .btn-connect,
.form-signin .button-header .btn-render,
.form-signin .button-footer .btn-clear,
.form-signin .button-footer .btn-stop,
.form-signin .button-footer .btn-inventory {
  color: #000;
}
.form-signin .button-header .btn-connect:hover,
.form-signin .button-header .btn-render:hover,
.form-signin .button-footer .btn-clear:hover,
.form-signin .button-footer .btn-stop:hover,
.form-signin .button-footer .btn-inventory:hover {
  opacity: 0.7;
}
.form-signin .button-header a {
  cursor: pointer;
}
.form-signin .btn-render,
.form-signin .button-footer .btn-stop {
  float: right;
}
.form-signin .button-footer {
  text-align: center;
}
.form-signin p {
  margin-top: 1rem;
  font-size: 17px;
}
.form-signin p span {
  color: red;
}
.form-signin .button-footer .btn-clear {
  float: left;
}
.modal-footer {
  justify-content: center !important;
}
.modal-footer .btn-close {
  font-size: 14px;
}
.modal-dialog .modal-content .modal-header {
  text-align: center;
}
@media (min-width: 1600px) {
  .form-signin .form-list {
    height: 530px !important;
  }
}
@media (min-width: 768px) {
  .form-signin .button-header .btn-connect,
  .form-signin .button-header .btn-render,
  .form-signin .button-footer .btn-clear,
  .form-signin .button-footer .btn-connect,
  .form-signin .button-footer .btn-stop {
    margin-bottom: 2%;
  }
}
@media (max-width: 767px) {
  .form-signin .form-list {
    height: 150px;
  }
  .form-signin .button-header .btn-connect,
  .form-signin .button-header .btn-render,
  .form-signin .button-footer .btn-clear,
  .form-signin .button-footer .btn-stop,
  .form-signin .button-footer .btn-inventory {
    margin-bottom: 1%;
  }
}
.form-list {
  border: 2px solid #cccccc;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
  flex: 1 1 auto;
  overflow: scroll;
}

.form-list .list-data .list-group .list-group-item {
  border-radius: 0;
}

.count {
  font-size: 22px;
  color: blue;
}

.head-nav {
  text-align: center;
}

.highlight-item {
  background-color: chartreuse;
}

.title-alert {
  text-align: center;
  color: #fa1408;
}
